body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #5ca4a9;
    margin: 0;
  }
  
  .container {
    width: 30%;
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1), -10px -10px 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  .joke {
    margin-bottom: 20px;
  }
  
  #title {
    font-weight: bold;
  }
  
  #content {
    font-weight: bold;
    color: #5ca4a9;
    font-size: 20px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #5ca4a9;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #5ca4a992;
  }
  